@import "normalize.css";
@import "panel/NobucaPanel.css";
@import "text/NobucaText.css";
@import "text-area/NobucaTextArea.css";
@import "html/NobucaHtml.css";
@import "select/NobucaSelect.css";
@import "label/NobucaLabel.css";
@import "whitespace/NobucaWhitespace.css";
@import "link/NobucaLink.css";
@import "fieldset/NobucaFieldset.css";
@import "button/NobucaButton.css";
@import "buttonbar/NobucaButtonbar.css";
@import "context-menu/NobucaContextMenu.css";
@import "tabs/NobucaTabs.css";
@import "dialog/NobucaDialog.css";
@import "tree/NobucaTree.css";
@import "menubar/NobucaMenubar.css";
@import "panel-split/NobucaPanelSplit.css";
@import "cards/NobucaCards.css";
@import "accordion/NobucaAccordion.css";
@import "checkbox/NobucaCheckbox.css";
@import "popover/NobucaPopover.css";
:root {
    --background-color-dark: rgb(29, 29, 29);
    --background-color-light: rgb(55, 55, 55);
    --background-color-light-bright: rgb(75, 75, 75);
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --font-size: 12px;
    --font-color: rgb(242, 242, 242);
    --text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    --component-border-color: rgb(29, 29, 29);
    --component-border-radius: 6px;
    --menubar-border: 1px solid rgb(70, 70, 70);
    --menubar-border-radius: 6px;
    --opacity-disabled: 0.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family);
    text-shadow: var(--text-shadow);
    color: var(--font-color);
}

p {
    font-family: var(--font-family);
    text-shadow: var(--text-shadow);
    color: var(--font-color);
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar:hover {
    width: 8px;
}

 ::-webkit-scrollbar-track {
    background: transparent;
}

 ::-webkit-scrollbar-thumb {
    background: rgb(59, 59, 59, .5);
    border-radius: 3px;
    width: 4px;
    opacity: .5;
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(84, 84, 84);
    width: 8px;
}