.NobucaButtonbar {
    display: flex;
    border: var(--menubar-border);
    border-radius: var(--menubar-border-radius);
    background-color: rgb(84, 84, 84);
    user-select: none;
    align-items: center;
    user-select: none;
    box-shadow: 1px 1px 1px 0px rgb(0 0 0 / 40%);
    height: 18px;
}

.NobucaButtonbarHandle {
    padding-left: 2px;
    padding-right: 2px;
    cursor: move;
}

.NobucaButtonbarHandle {

}

.NobucaButtonbarItems {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 18px;
}

.NobucaButtonbarItem {
    display: flex;
    align-items: center;
    border-right: var(--menubar-border);
    height: 18px;
    opacity: .7;
}

.NobucaButtonbarItem:last-child {
    border-right: none;
}

.NobucaButtonbarItem:hover {
    opacity: 1;
    background-color: rgb(101, 101, 101);
}

.NobucaButtonbarItem:active {
    background-color: rgb(71, 114, 179);
}

.NobucaButtonbarItemImg {
    padding-left: 5px;
    padding-right: 4px;
}
