.NobucaContextMenu {
	position: absolute;
	z-index: 2;
	display: none;
	flex-direction: column;
	position: absolute;
	background-color: rgb(35, 35, 36);
	border: 1px solid rgb(25, 25, 26);
	opacity: 0.9;
	border-radius: 5px;
	font-family: var(--font-family);
	font-size: var(--font-size);
	text-shadow: var(--text-shadow);
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.88);
	padding-top: 4px;
    padding-bottom: 4px;
}

.NobucaContextMenuTitle {
	padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: default;
	color: rgb(141, 141, 141);
	border-bottom: 1px solid rgb(121, 121, 121);
	justify-content: left;
}

.NobucaContextMenuItemText {
	padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
	color: rgb(201, 201, 201);
	justify-content: left;
}

.NobucaContextMenuItemText:hover {
	background-color: rgb(81, 119, 178);
}

.NobucaContextMenuSearch {
	border-bottom: 1px solid rgb(121, 121, 121);
}

.NobucaContextMenuItemSeparator {
    height: 1px;
    border-bottom: 1px solid rgb(55, 55, 55);
}

.NobucaContextMenuSearchText {
	background: rgb(0, 0, 0);
    color: rgb(255,255,255);
    border: none;
    padding: 4px;
    border-bottom: 1px solid rgb(148,148,148);
    width: 112px;
	font-family: var(--font-family);
	font-size: var(--font-size);
	text-shadow: var(--text-shadow);
    outline: none;
}