.NobucaSelect {
    border: 1px solid rgb(68, 68, 68);
    outline: none;
    border-radius: 3px;
    background-color: rgb(29, 29, 29);
    color: rgb(237, 237, 237);
    padding-right: 8px;
    padding-left: 8px;
    max-height: 24px;
    min-height: 24px;
    box-sizing: border-box;
    margin-left: -1px;
    box-shadow: 1px 1px 1px 0px rgb(0 0 0 / 40%);
}

.NobucaSelect:hover {
    border: 1px solid rgb(78, 78, 78);
    background-color: rgb(35, 35, 35);
}

.NobucaSelect:focus {
    border: 1px solid rgb(68, 68, 68);
    background-color: rgb(79, 79, 79);
}